.news-container {
  background: #F9F2EF;

}

.news {
  max-width: 1240px;
  margin: 0 auto;
  padding: 70px 0;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 75px;

    p {
      &:first-child {
        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #967675
      }

      &:last-child {
        font-family: Playfair Display, sans-serif;
        font-weight: bold;
        font-size: 102px;
        color: #23242C;
      }
    }
  }

  &__email {
    display: flex;
    justify-content: space-between;
    padding-right: 26px;

    input {
      width: 100%;
      margin-right: 35px;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(150, 118, 117, 0.5);
      padding-left: 5px;

      font-family: Poppins, sans-serif;
      font-weight: 300;
      font-size: 28px;

      outline: none;

      // PLACEHOLDERS
      &::-webkit-input-placeholder {
        color: #DCCBC6;
      }
      &::-moz-placeholder {
        color: #DCCBC6;
      }
      &:-moz-placeholder {
        color: #DCCBC6;
      }
      &:-ms-input-placeholder {
        color: #DCCBC6;
      }
    }
  }
}